.loginFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .header {
    text-align: center;
  }
  .formField {
    width: 100%;
  }
  .password {
    margin-bottom: 15px;
  }
  .buttonsWrapper {
    display: flex;
    justify-content: space-around;
  }
}
