<div class="container">
  <div *ngIf="loader" class="maskingBackground">
    <div class="centerLoader">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <ng-container *ngIf="!loader">
    <mat-card class="card" *ngFor="let personalUser of allPersonalUsers">
      <div class="details">
        <div class="fieldWrapper">
          <div class="fieldName">Full name: </div> {{personalUser.fullname}}
        </div>
        <div class="fieldWrapper">
          <div class="fieldName">Email: </div> {{personalUser.email}}
        </div>
        <div class="fieldWrapper">
          <div class="fieldName">Phone number: </div> {{personalUser.phonenumber}}
        </div>
        <div *ngIf="personalUser?.resumeName" class="fieldWrapper">
          <div class="fieldName">Resume: </div> <div class="downloadResume"
            (click)="downloadResume(personalUser.id)">{{personalUser?.resumeName}}</div>
        </div>
      </div>
    </mat-card>
  </ng-container>
</div>