<div class="container">
  <div class="toggle">
    <h3 *ngIf="isChecked" class="Header">Applied jobs</h3>
    <h3 *ngIf="!isChecked" class="Header">Withdrawn jobs</h3>
    <mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle>
  </div>
  <div *ngIf="loader" class="maskingBackground">
    <div class="centerLoader">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <ng-container *ngIf="!loader">
    <ng-container *ngIf="!appliedJobs?.length && isChecked">
      No Records
    </ng-container>
    <ng-container *ngIf="appliedJobs?.length && isChecked">
      <ng-container *ngFor="let job of appliedJobs">
        <mat-card class="card"
          [ngClass]="(job.applicationStatus=='Pending' ? 'pending' : (job.applicationStatus=='Rejected' ? 'rejected' : 'accepted'))">
          <div class="details">
            <div class="fieldWrapper">
              <div class="fieldName">Job name: </div> {{job.jobName}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Job description: </div> {{job.jobDescription}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Job location: </div> {{job.jobLocation}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Job type: </div> {{job.jobType}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Working type: </div> {{job.workingType}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Other details: </div> <div>{{job.otherDetails}}</div>
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Applied on: </div> <div>{{job.appliedOn}}</div>
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Application status: </div>
              <div>{{job.applicationStatus}}</div>
            </div>
          </div>
          <div class="buttonsWrapper" *ngIf="job.applicationStatus!='Accepted' && job.applicationStatus!='Rejected'">
            <button type="button" class="withdrawButton" mat-raised-button color="primary"
              (click)="withdrawJob(job.applyId)">Withdraw</button>
          </div>
        </mat-card>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!withdrawnJobs?.length && !isChecked">
      No Records
    </ng-container>
    <ng-container *ngIf="withdrawnJobs?.length && !isChecked">
      <ng-container *ngFor="let job of withdrawnJobs">
        <mat-card class="card withdrawn">
          <div class="details">
            <div class="fieldWrapper">
              <div class="fieldName">Job name: </div> {{job.jobName}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Job description: </div> {{job.jobDescription}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Job location: </div> {{job.jobLocation}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Job type: </div> {{job.jobType}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Working type on: </div> {{job.workingType}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Other details: </div> <div>{{job.otherDetails}}</div>
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Applied on: </div> <div>{{job.appliedOn}}</div>
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Application status: </div>
              <div>{{job.applicationStatus}}</div>
            </div>
          </div>
          <!-- <div class="buttonsWrapper">
                        <button type="button" class="acceptButton" mat-raised-button color="primary"
                            (click)="withdrawJob(job.jobId)">Apply</button>
                    </div> -->
        </mat-card>
      </ng-container>
    </ng-container>
  </ng-container>
</div>