.container{
    margin: 50px 20%;
}
.formFiledWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.formField-3 {
    width: 250px;
}
.formField-2 {
    width: 340px;
}
.formField-1 {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .formField-3,.formField-2{
        width: 100%;
    }
  }
  @media screen and (max-width: 960px) {
    .container{
        margin: 50px 50px;
    }
  }
