<div class="container">
  <div class="filtersWrapper">
    <mat-form-field appearance="outline" class="filter">
      <mat-label>Type</mat-label>
      <mat-select [(ngModel)]="userType">
        <mat-option value="Personal">Individual</mat-option>
        <mat-option value="Organisation">Organisation</mat-option>
        <mat-option value="jobDetails">Job Details</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div *ngIf="loader" class="maskingBackground">
    <div class="centerLoader">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <ng-container *ngIf="!loader">
    <ng-container *ngIf="userType=='All' || userType == 'Personal' || userType=='' ">
      <mat-card class="card" *ngFor="let personalUser of allPersonalUsers">
        <div class="details">
          <div class="fieldWrapper">
            <div class="fieldName">Full name: </div> {{personalUser?.fullname}}
          </div>
          <div class="fieldWrapper">
            <div class="fieldName">Email: </div> {{personalUser?.email}}
          </div>
          <div class="fieldWrapper">
            <div class="fieldName">Phone number: </div> {{personalUser?.phonenumber}}
          </div>
          <div class="fieldWrapper" *ngIf="personalUser.resumeName">
            <div class="fieldName">Resume: </div> <div class="downloadResume"
              (click)="downloadResume(personalUser.id)">{{personalUser?.resumeName}}</div>
          </div>
        </div>
      </mat-card>
    </ng-container>
    <ng-container *ngIf="userType=='All' || userType == 'Organisation' || userType==''">
      <mat-card class="card" *ngFor="let organistaionUser of allOrganisationUsers">
        <div class="details">
          <div class="fieldWrapper">
            <div class="fieldName">Full name: </div> {{organistaionUser.fullname}}
          </div>
          <div class="fieldWrapper">
            <div class="fieldName">Email: </div> {{organistaionUser.email}}
          </div>
          <div class="fieldWrapper">
            <div class="fieldName">Phone number: </div> {{organistaionUser.phonenumber}}
          </div>
        </div>
      </mat-card>
    </ng-container>
    <ng-container *ngIf="userType=='All' || userType == 'jobDetails' || userType==''">
      <mat-card *ngFor="let job of allJobs" class="card">
        <div class="details">
          <div class="fieldWrapper">
            <div class="fieldName">Job name: </div> {{job.jobName}}
          </div>
          <div class="fieldWrapper">
            <div class="fieldName">Job description: </div> {{job.jobDescription}}
          </div >
          <div class="fieldWrapper">
            <div class="fieldName">Job location: </div> {{job.jobLocation}}
          </div>
          <div class="fieldWrapper">
            <div class="fieldName">Job type: </div> {{job.jobType}}
          </div>
          <div class="fieldWrapper">
            <div class="fieldName">Working type: </div> {{job.workingType}}
          </div>
          <div class="fieldWrapper">
            <div class="fieldName">Created at: </div> {{job.createdAt}}
          </div>
          <div class="fieldWrapper">
            <div class="fieldName">Active: </div> {{job.active}}
          </div>
          <div class="fieldWrapper">
            <div class="fieldName">Other details: </div> {{job.otherDetails}}
          </div>
        </div>
      </mat-card>
    </ng-container>
  </ng-container>
</div>