<div class="container">
  <h1>About Us</h1>
  <p>
    We are here to serve the people who lost the job or have been impacted during COVID wave . This is an initiative
    to provide leads on jobs and help on different areas . Its free service . Nothing will be charged from website
    creators. We are a group of like minded people have been trying to provide helping hands to those who are in
    need.

    
  </p>
  <br><p>Please provide your feedback:</p>
  <form [formGroup]="feedbackForm" >
    <div>
      <mat-form-field class="formField" appearance="outline">
        <mat-label>Name*</mat-label>
        <input type="text" matInput formControlName="name" placeholder="">
        <mat-error *ngIf="feedbackForm.get('Name')?.errors?.required">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="formField" appearance="outline">
        <mat-label>Email*</mat-label>
        <input type="email" matInput formControlName="email" placeholder="">
        <mat-error *ngIf="((feedbackForm.get('Email')?.dirty || feedbackForm.get('Email')?.touched) && feedbackForm.get('Email')?.invalid) && !feedbackForm.get('Email')?.errors?.required">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="feedbackForm.get('Email')?.errors?.required">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      Please rate*
      <mat-radio-group formControlName="rating" class="ratingWrapper">
        <mat-radio-button class="ratingRadio" type="radio" value=1>1 – Very Bad</mat-radio-button>
        <mat-radio-button class="ratingRadio" type="radio" value=2>2 – Poor</mat-radio-button>
        <mat-radio-button class="ratingRadio" type="radio" value=3>3 – Average</mat-radio-button>
        <mat-radio-button class="ratingRadio" type="radio" value=4 f>4 – Good</mat-radio-button>
        <mat-radio-button class="ratingRadio" type="radio" value=5>5 – Excellent</mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
      <mat-form-field class="formField" appearance="outline">
        <mat-label>How could we improve?*</mat-label>
        <textarea matInput formControlName="feedbackComment"></textarea>
        <mat-error *ngIf="feedbackForm.get('feedbackComment')?.errors?.required">
          Feedback is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" [disabled] = "feedbackForm.invalid" (click)="submitFeedback()">Submit</button>
  </form>
</div>