.container{
    margin: 50px 30%;
}
.loginFormWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formField{
    width: 100%;
}
@media screen and (max-width : 600px) {
    .container{
        margin: 25px 25px;
    }
}