.headerWrapper {
  justify-content: space-between;
  flex-wrap: wrap;
}
.active {
  background-color: #ffce75;
}
.sideNav {
  width: fit-content;
  .sideNavLinks {
    display: flex;
    flex-direction: column;
  }
}
.headerNavigationButtons {
  margin-right: 10px;
}

.sideNavContent {
  height: calc(100vh - 64px);
}
@media screen and (max-width: 960px) {
  // .sideNav {
  //   .sideNavLinks {
  //   }
  // }
  .headerNavigationButtons {
    text-align: left;
    margin-right: unset;
  }
}
@media screen and (max-width: 599px) {
  .sideNavContent {
    height: calc(100vh - 56px);
  }
}
