.container {
  margin: 50px 20%;
  .submitJob {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .toggle {
      display: flex;
      align-items: center;
      h3{
        margin-bottom: unset;
        margin-right: 10px;
      }
    }
  }
  .card {
    display: flex;
    margin-bottom: 10px;
    .details {
      width: 80%;
      margin-right: 10px;
      .fieldName {
        font-weight: 500;
      }
    }
    .buttonsWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
@media screen and (max-width: 800px) {
  .container {
    margin: 25px 25px;
    .card {
      flex-direction: column;
      .details {
        margin-bottom: 10px;
        width: 100%;
      }
      .buttonsWrapper {
        flex-direction: row;
        justify-content: unset;
        .viewApplicants {
          margin-right: 15px;
        }
      }
    }
  }
}
