<div class="container">
  <div class="submitJob">
    <div class="toggle">
      <h3 *ngIf="isChecked">Active jobs</h3>
      <h3 *ngIf="!isChecked">Inactive jobs</h3>
      <mat-slide-toggle [(ngModel)]="isChecked"></mat-slide-toggle>
    </div>
    <button type="submit" mat-raised-button color="primary" (click)="submitJob()">Submit
      job</button>
  </div>
  <div *ngIf="loader" class="maskingBackground">
    <div class="centerLoader">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <ng-container *ngIf="!loader">
    <ng-container *ngIf="!activeJobs?.length && isChecked">
      No Records
    </ng-container>
    <ng-container *ngIf="activeJobs?.length && isChecked">
      <ng-container>
        <mat-card class="card" *ngFor="let activeJob of activeJobs">
          <div class="details">
            <div class="fieldWrapper">
              <div class="fieldName">Job name: </div> {{activeJob.jobName}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Job location: </div> {{activeJob.jobLocation}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Job type: </div> {{activeJob.jobType}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Working type: </div> {{activeJob.workingType}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Other details: </div> <div>{{activeJob.otherDetails}}</div>
            </div>
          </div>
          <div class="buttonsWrapper">
            <button type="button" mat-raised-button color="primary" class="viewApplicants"
              (click)="viewApplicants(activeJob.jobId)">View
              Applicants</button>
            <button type="button" mat-raised-button color="primary" (click)="deleteJob(activeJob.jobId)">Mark as
              Inactive</button>
          </div>
        </mat-card>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!inactiveJobs?.length && !isChecked">
      No Records
    </ng-container>
    <ng-container *ngIf="inactiveJobs?.length && !isChecked">
      <ng-container *ngFor="let inactiveJob of inactiveJobs">
        <mat-card class="card">
          <div class="details">
            <div class="fieldWrapper">
              <div class="fieldName">Job name: </div> {{inactiveJob.jobName}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Job location: </div> {{inactiveJob.jobLocation}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Job type: </div> {{inactiveJob.jobType}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Working type: </div> {{inactiveJob.workingType}}
            </div>
            <div class="fieldWrapper">
              <div class="fieldName">Other details: </div> <div>{{inactiveJob.otherDetails}}</div>
            </div>
          </div>
          <div class="buttonsWrapper">
            <button type="button" mat-raised-button color="primary" class="viewApplicants"
              (click)="viewApplicants(inactiveJob.jobId)">View
              Applicants</button>
            <!-- <button type="button" mat-raised-button color="primary"
            (click)="deleteJob(organisationJob.jobId)">Delete</button><br> -->
          </div>
        </mat-card>
      </ng-container>
    </ng-container>
  </ng-container>
</div>