<div class="container">
  <div *ngIf="loader" class="maskingBackground">
    <div class="centerLoader">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  <ng-container *ngIf="!loader">
    <mat-card class="card">
      <div class="profileDetailsWrapper">
        <div class="profileDetails">
          <div class="fieldWrapper">
            <div class="field">Full name: </div>{{profileData?.fullname}}
          </div>
          <div  class="fieldWrapper">
            <div class="field">Email: </div>{{profileData?.email}}
          </div>
          <div *ngIf="!isEdit"  class="fieldWrapper">
            <div class="field">Phonenumber: </div>{{profileData?.phonenumber}}
          </div>
          <div *ngIf="isEdit"  class="fieldWrapper">
            <div class="field">Phonenumber: </div><input type="text" [(ngModel)]='phonenumber' />
          </div>
          <div class="downloadWrapper fieldWrapper" *ngIf="profileData?.accountType=='Personal'" ><div class="field">Upload
              resume: </div>
            <div class="downloadFile" (click)="download()"> {{profileData?.resume}}</div>
            <!-- <button mat-raised-button color="primary" > -->
              <mat-icon (click)="openFile()"> attachment<input type="file" name="resume"  class="uploadFile" style="display:none"
                  (change)="handle($event)">
              </mat-icon>
            <!-- </button> -->
          </div>
        </div>
        <div *ngIf="!isEdit" class="buttonsWrapper">
          <button mat-raised-button color="primary" (click)="edit()">Edit</button>
        </div>
        <div *ngIf="isEdit" class="buttonsWrapper">
          <button mat-raised-button color="primary"  class="updateButton" (click)="update()">Update</button>
          <button mat-raised-button color="primary" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </mat-card>
  </ng-container>
</div>