.container {
    margin: 50px 20%;
    .profileDetailsWrapper {
        display: flex;
        .profileDetails{
            width: 70%;
        }
    }
    .field {
        font-weight: 500;
    }
    .downloadWrapper {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        .downloadFile {
            text-decoration: underline;
            color: blue;
            cursor: pointer;
            margin-right: 10px;
        }
    }
}
.buttonsWrapper{
    margin-top: 10px;
    .updateButton{
        margin-right: 10px;
    }
}
@media screen and (max-width: 800px) {
    .container {
        margin: 50px 50px;
        .profileDetailsWrapper{
            flex-direction: column;
        }
    }

}
