<div class="container">
    <div>
        <mat-card class="card">
            <div>
                <span class="field">Full name: </span>{{profileData?.fullname}}
            </div>
            <div>
                <span class="field">Email: </span>{{profileData?.email}}
            </div>
            <div>
                <span class="field">Phonenumber: </span>{{profileData?.phonenumber}}
            </div>
            <div class="downloadWrapper" *ngIf="profileData?.accountType=='Personal'"><span class="field">Upload resume: </span>
                <div class="downloadFile" (click)="download()"> {{profileData?.resume}}</div>
                <button mat-raised-button color="primary" (click)="openFile()">
                    <mat-icon> attachment<input type="file" name="resume" class="uploadFile" style="display:none"
                            (change)="handle($event)">
                    </mat-icon>
                </button>    
            </div>
        </mat-card>
        <div>

        </div>
    </div>
</div>