<div class="container">
  <div class="dashboardWrapper">
    <div class="filterWrapper">
      <mat-form-field appearance="outline" class="filter">
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="gender">
          <mat-option value="All">All</mat-option>
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="filter">
        <mat-label>Case</mat-label>
        <mat-select [(ngModel)]="openCase">
          <mat-option value="All">All</mat-option>
          <mat-option value="Yes">Solved</mat-option>
          <mat-option value="No">Not solved</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="filter">
        <mat-label>State</mat-label>
        <mat-select [(ngModel)]="state">
          <mat-option value="All">All</mat-option>
          <mat-option *ngFor="let state of stateArray" value="{{state}}">{{state}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="filter">
        <mat-label>Occupation</mat-label>
        <mat-select [(ngModel)]="occupation">
          <mat-option value="All">All</mat-option>
          <mat-option *ngFor="let occupation of occupationArray" value="{{occupation}}">{{occupation}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="filter">
        <mat-label>Affected Reason</mat-label>
        <mat-select [(ngModel)]="affectedReason">
          <mat-option value="All">All</mat-option>
          <mat-option *ngFor="let affectedReason of affectedReasonArray" value="{{affectedReason}}">{{affectedReason}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="contentWrapper">
      <div *ngIf="isLoading" class="maskingBackground">
        <div class="centerLoader">
          <mat-spinner class="spinner"></mat-spinner>
        </div>
      </div>
      <div
        *ngIf="((detail|openCaseFilter:openCase|genderFilter:gender|stateFilter:state|occupationFilter:occupation|affectedReasonFilter:affectedReason)?.length==0) && !isLoading">
        No Records</div>
      <div class="width"
        *ngFor="let details of detail|openCaseFilter:openCase|genderFilter:gender|stateFilter:state|occupationFilter:occupation|affectedReasonFilter:affectedReason">
        <mat-card class="card">
          <div class="detailsWrapper">
            <div class="image">
              <img class="genderImage" [src]="details.gender==='Male' ? maleImage : femaleImage" />
            </div>
            <div class="details">
              <div class="detailsContent">
                <div class="detailsLabel"> Name :</div> {{details.firstname}} {{details.middlename}}
                {{details.lastname}}
              </div>
              <div class="detailsContent">
                <div class="detailsLabel"> Phone Number : </div>{{details.phonenumber}}
              </div>
              <div class="detailsContent">
                <div class="detailsLabel"> Address : </div>{{details.address}}
              </div>
              <div class="detailsContent">
                <div class="detailsLabel"> City : </div>{{details.city}}
              </div>
              <div class="detailsContent">
                <div class="detailsLabel"> District :</div>{{details.district}}
              </div>
              <div class="detailsContent">
                <div class="detailsLabel"> State : </div>{{details.state}}
              </div>
              <div class="detailsContent">
                <div class="detailsLabel"> Pincode :</div>{{details.pincode}}
              </div>
              <div class="detailsContent" *ngIf="details.idType">
                <div *ngIf="details.idType!='NA'" class="detailsLabel">{{details.idType}} : </div>{{details.idNumber}}
              </div>
              <div class="detailsContent" *ngIf="details.occupation">
                <div class="detailsLabel">Occupation : </div>{{details.occupation}}
              </div>
              <div class="detailsContent" *ngIf="details.affectedDate">
                  <div class="detailsLabel">Affected Date:
                  </div>{{getDate(details.affectedDate)}}
              </div>
              <div class="detailsContent" *ngIf="details.affectedReason">
                <div class="detailsLabel">Affected Reason: </div>{{details.affectedReason}}
              </div>
              <div class="detailsContent" *ngIf="details.additionalDetail">
                  <div class="detailsLabel">Additional detail:
                  </div>{{details.additionalDetail}}
              </div>
              <div class="detailsContent">
                <div class="detailsLabel">Submitter name: </div>{{details.submitterName}}
              </div>
              <div class="detailsContent">
                <div class="detailsLabel">Submitter contact: </div>{{details.submitterContact}}
              </div>
              <div class="detailsContent">
                <div class="detailsLabel">Submitter detail: </div>{{details.submitterDetail}}
              </div>
              <div class="detailsContent" *ngIf="details.isSolved">
                <div class="detailsLabel">Resolved: </div>{{details.isSolved}}
              </div>
              <div class="detailsContent" *ngIf="details.action">
                  <div class="detailsLabel">Action: </div>{{details.action}}
              </div>
              <div *ngIf="details.resume" class="detailsContent">
                <div class="detailsLabel">Resume: </div><div (click)="download(details.id)">{{details.resume}}</div>
              </div>
            </div>
          </div>
          <div class="buttonsWrapper">
            <button mat-raised-button color="primary" matTooltip="Send SMS" [matTooltipPosition]="position.value">
              <mat-icon>textsms</mat-icon>
            </button>
            <button mat-raised-button color="primary" matTooltip="Send Email" [matTooltipPosition]="position.value"
              (click)="sendEmail(details)">
              <mat-icon>email</mat-icon>
            </button>
            <button mat-raised-button color="primary" matTooltip="Resolve" [matTooltipPosition]="position.value"
              (click)="resolve(details)">
              <mat-icon>call_to_action</mat-icon>
            </button>
            <button mat-raised-button color="primary" matTooltip="Location" [matTooltipPosition]="position.value"
              (click)="getMap(details.city)">
              <mat-icon>location_city</mat-icon>
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>