.container{
    margin: 50px 10%;
}
.dashboardWrapper{
    display: flex;
    .filterWrapper{
        display: flex;
        flex-direction: column;
        margin-right: 25px;
    }
    .contentWrapper{
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}
.card{
    margin-bottom: 10px;
}
.genderImage{
    width: 100px;
    height: 100px;
}
.detailsWrapper{
    display: flex;
    align-items: center;
}
.details {
    margin-left: 15px;
    flex-grow: 1;
}
.buttonsWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.detailsLabel {
    font-weight: 600;
}

.spinner{
    margin: 0 auto;
}
.formField{
    width: 100%;
}
@media screen and (max-width: 1000px) {
  .dashboardWrapper{
    flex-direction: column;
    .filterWrapper {
      display: flex;
      flex-wrap: unset;
      overflow-x: auto;
      flex-direction: unset;
      justify-content: space-between;
      margin-right: unset;
      .filter{
        width: 150px;
    }
  }
  }  
  .detailsWrapper{
        display: flex;
        flex-direction: column;
        align-items: unset;
    }
    .container{
        margin: 50px 5%;
    }
    .image{
        display: flex;
        justify-content: center;
    }
    
    .filter{
        margin-right: 10px;
    }
  }